.sticky
{
     position: sticky;
     position: -webkit-sticky;
     width: 100px;
     height: 100px;
     top: 20px;
}
.box
{
     background-color: #eee;
     height: 700px;
     padding: 0 20px 20px 20px;
     margin-top: 20px;
}
